@import "tailwindcss";

html {
  transition: background-color 1s ease-in-out;
}

body,
nav,
section,
article{
  transition:
    background-color 300ms ease,
    color 300ms ease,
    border-color 300ms ease;
}

@theme {

  --color-page: #FAFAFA;
  --color-primary: #A78A73;
  --color-secondary: #E4DFD6;
  --color-tercery: #FFFFFF;
  --color-font-primary: #1A1A1A;
  --color-font-secondary: #4A4A4A;

  --font-Jakarta: "Plus Jakarta Sans", sans-serif;

}

:root[data-theme="dark"] {
  --color-page: #12110F;
  --color-primary: #C1A48D;
  --color-secondary: #2A2622;
  --color-tercery: #1C1A18;

  --color-font-primary: #F2F2F2;
  --color-font-secondary: #B5B1AC;
}

.animate-fade-in {
  animation: fade-in 800ms ease-out both;
}

.animate-fade-up {
  animation: fade-up 500ms ease-out both;
}

.animate-fade-down {
  animation: fade-down 500ms ease-out both;
}

.animate-fade-left {
 animation: fade-left 800ms ease-out both;
}

/* .animate-fade-left.is-visible {
  animation: fade-left 800ms ease-out both;
  animation-delay: var(--delay, 0ms);
} */

.animate-fade-right {
  opacity: 0;
  transform: translateX(4rem);
}

.animate-fade-right.is-visible {
  animation: fade-right 800ms ease-out both;
  animation-delay: var(--delay, 0ms);
}

.animate-scale-in {
  animation: scale-in 800ms ease-out both;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-8rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(8rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


