---
import { } from "astro-icon";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import HeaderComponent from "../components/HeaderComponent.astro";
import ProyectList from "../components/ProyectList.astro";
import SkillsList from "../components/SkillsList.astro";
import Layout from "../layouts/Layout.astro";


const titlePage = 'Argentino Monroy - Mi portafolio';

---


<Layout title={ titlePage }>

	<section id="header">
		<HeaderComponent/>
	</section>

	<main class="container">
		<section id="skills" class="scroll-mt-52">
			<SkillsList />
		</section>

		<section id="projects" class="scroll-mt-40">
			<ProyectList />
		</section>

		<section id="about" class="scroll-mt-38">
			<About />
		</section>

		<section id="contact" class="scroll-mt-10">
			<Contact />
		</section>
	</main>

</Layout>
