
<nav class="flex justify-between fixed w-screen z-10">

    <span class="text-[1.3rem]">PORTAFOLIO</span>

    <div class="flex gap-10 items-center justify-center text-[1.1em]">

        <span>
            <i class="fa-solid fa-language"></i>
            Español
        </span>


        <div class="p-2">
            <i class='bx  bx-sun'></i> 
        </div>

    </div>

</nav>



<style>

    nav{
        padding: 2rem 6rem;
        background: linear-gradient(180deg, #E4DFD6 0%, #FAFAFA 100%);
    }

</style>

